@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-top: 3rem;
  }

  .intro .textintro {
    margin: 0;
  }

  .flex-about {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .profile-img-about img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .about-box {
    max-width: 100%;
    padding: 10px;
  }

  #skills {
    padding: 20px;
  }

  #skill {
    margin-bottom: 1rem;
  }

  form {
    width: 100%;
    padding: 0 20px;
  }

  input,
  textarea {
    width: 100%;
    max-width: 300px;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .profile-img-intro img {
    width: 150px;
    height: 150px;
  }
}
